#defaultAutoCommit=
#defaultReadOnly=
#defaultTransactionIsolation=
#defaultCatalog=
#driverClassName=
#maxActive=
#maxIdle=
#minIdle=
#initialSize=
#maxWait=
#testOnBorrow=
#testOnReturn=
#timeBetweenEvictionRunsMillis=
#numTestsPerEvictionRun=
#minEvictableIdleTimeMillis=
#testWhileIdle=
#password=
#url=
#username=
#validationQuery=
#accessToUnderlyingConnectionAllowed=
#removeAbandoned=
#removeAbandonedTimeout=
#logAbandoned=
#poolPreparedStatements=
#maxOpenPreparedStatements=
#connectionProperties=

maxActive=100
maxIdle=72
minIdle=48

driverClassName=com.mysql.jdbc.Driver
url=jdbc:mysql://127.0.0.1:3306/dorisstore
username=dorisstore
password=dorisstore
